@font-face {
    font-family: "KOTRAHOPE";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
    font-weight: normal;
    font-style: normal;
    }

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input::placeholder{
    color: white;
}

input:focus{
    outline: 2px solid white;
    color: white;
    transition: 0.6s;
}




.warp{
    width: 100vh;
    height: 300px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/static/3.webp');
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
}

.form-control1{
    width: 100px;
    height: 34px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-family: "KOTRAHOPE";
}

.form-control2{
    width: 300px;
    height: 34px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-family: "KOTRAHOPE";
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 55px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-family: "KOTRAHOPE";
}

.button:hover{
    box-shadow:  /* White glow */ 0 0 7px #fff, 0 0 10px rgb(255, 255, 255), 0 0 21px #fff, 
    /* Green glow */ 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    transition: 0.8s;
}


.mycards{
    margin-top: 5px;
    width: 470px;
    height: 150px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

.text1{
    color:white;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "KOTRAHOPE";
}

.blockquote-footer{
    color:white;
    margin-left: 10px;
    font-family: "KOTRAHOPE";
}