@font-face {
  font-family: "KOTRAHOPE";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Poor+Story&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap'");

body {
  margin: 0px;
  padding: 0px;
}

#first {
  background: url("../static/jjanggu.png");
  background-size: cover;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}

.thug {
  font-family: KOTRAHOPE;
  padding: 60px;
  font-size: 70px;
}

.section__container {
  max-width: 1280px;
  margin: auto;
  text-align: center;
}

.work__projects {
  padding: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}

.work__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
}

.project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin: 2px;
  background-color: var(--color-light-white);
}

.project.invisible {
  display: none;
}

.project__img {
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.project__description {
  border-radius: 150px;
  position: absolute;
  background-color: yellow;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}

.project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0px);
}

.project__description h3 {
  color: var(--color-orange);
}

.project__description h3:after {
  content: "";
  display: block;
  position: relative;
  left: 50%;
  width: 50px;
  height: 2px;
  transform: translateX(-50%);
  margin-top: 8px;
  background-color: var(--color-dark-white);
}

/*--첫 메인페이지--*/
.teaminfo {
  background: url("../static/1.jpg") no-repeat center;
  background-size: cover;
  font-family: "Nanum Gothic", sans-serif;
  padding-top: 70px;
  padding-bottom: 70px;
  width: 100%;
  height: 100%;
}
.container1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 1fr 1fr;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.8);
  background-position: center;
  border-radius: 30px;
  width: 85%;
  height: 90vh;
}
.gridHeader {
  display: grid;
  align-content: center;
  text-align: center;
  margin: 0px;
  padding: 50px 0 50px 0;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}
.item1 {
  display: grid;
  justify-content: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  max-width: 500px;
  width: 100%;
  height: 30%;
  margin: 0 auto 0 auto;
  padding: 0 25px 0 25px;
}
.item2 {
  display: grid;
  justify-content: center;
  padding: 0 25px 0 25px;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 4;
  height: 70%;
}
.item3 {
  display: grid;
  justify-content: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  max-width: 500px;
  width: 100%;
  height: 30%;
  margin: 0 auto 50px auto;
  padding: 0 25px 0 25px;
}
.features {
  display: inline-block;
  max-width: 500px;
  width: 95%;
}
.features > li {
  padding: 0 10px 0 10px;
  word-break: keep-all;
  margin-bottom: 20px;
  list-style: url("../static/gear-fill.svg");
  font-size: 20px;
}
.promise {
  display: inline-block;
  max-width: 500px;
  width: 95%;
}
.promise > li {
  padding: 0 10px 0 10px;
  word-break: keep-all;
  margin-bottom: 20px;
  list-style: url("../static/fire.svg");
  font-size: 20px;
}
.goal {
  display: inline-block;
  max-width: 400px;
  width: 90%;
}
.goal > li {
  padding: 0 10px 0 10px;
  word-break: keep-all;
  margin-bottom: 20px;
  font-size: 20px;
}
@media (max-width: 800px) {
  .teaminfo {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .container1 {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr 1fr;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    background-position: center;
    border-radius: 30px;
    width: 85%;
    height: 85%;
  }
  .gridHeader {
    display: grid;
    align-content: center;
    text-align: center;
    margin: 0px;
    padding: 50px 0 50px 0;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .item1 {
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    max-width: 500px;
    width: 90%;
    height: 30%;
    margin: 0 auto 0 auto;
    padding: 0 25px 0 25px;
  }
  .item2 {
    display: grid;
    justify-content: center;
    padding: 200px 25px 0 25px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 70%;
  }
  .item3 {
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    max-width: 500px;
    width: 90%;
    height: 30%;
    margin: 0 auto 50px auto;
    padding: 0 25px 0 25px;
  }
  .features {
    display: inline-block;
    max-width: 300px;
    width: 90%;
  }
  .promise {
    display: inline-block;
    max-width: 300px;
    width: 90%;
  }
  .goal {
    display: inline-block;
    max-width: 300px;
    width: 90%;
  }
}
/* 팀목표 약속페이지 */
a {
  text-decoration: none;
}

input::placeholder {
  color: white;
  font-size: 28px;
}

input:focus {
  outline: 2px solid white;
  color: white;
  transition: 0.3s;
  font-size: 28px;
  box-shadow:  /* White glow */ 0 0 7px #fff, 0 0 10px rgb(255, 255, 255),
    0 0 21px #fff, /* Green glow */ 0 0 3px rgb(255, 255, 255),
    0 0 5px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255),
    0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
}

.warp {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 200px;
}

.form-control1 {
  width: 100px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.form-control2 {
  width: 538px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  width: 90px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.form-control1 {
  width: 150px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.form-control2 {
  width: 845px;
  height: 84px;
  margin-right: 20px;
  border-radius: 8px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  text-align: center;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89px;
  width: 150px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.btn{
  display: flex;
}

.button1 {
  margin-top: 25px;
  margin-left: 720px;
  margin-right: 20px;
  height: 40px;
  width: 90px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button1:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.button2 {
  margin-top: 25px;

  height: 40px;
  width: 90px;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 8px;
  background-color: transparent;
  color: white;
  font-family: "KOTRAHOPE";
  font-size: 28px;
}

.button2:hover {
  box-shadow: 0 0 8px #fff, 0 0 10px #fff, 0 0 12px #fff, 0 0 14px #fff,
    0 0 16px rgb(255, 255, 255), 0 0 18px #fff, 0 0 20px #fff, 0 0 22px #fff;
  transition: 0.3s;
}

.mycards {
  margin-top: 20px;
  width: 1200px;
  height: 400px;
  background-color: transparent;
  box-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 8px #fff,
    0 0 10px rgb(255, 255, 255), 0 0 12px #fff, 0 0 14px #fff, 0 0 16px #fff;
  border-radius: 10px;
  overflow: auto;
}

.mycards::-webkit-scrollbar {
  width: 20px; /* 스크롤바의 너비 */
}

.mycards::-webkit-scrollbar-thumb {
  height: 20%; /* 스크롤바의 길이 */
  background: white; /* 스크롤바의 색상 */

  border-radius: 10px;
}

.mycards::-webkit-scrollbar-track {
  background: transparent; /*스크롤바 뒷 배경 색상*/
}

.text1 {
  margin-top: 20px;
  margin-left: 30px;
  font-size: 30px;
  color: white;
  font-family: "KOTRAHOPE";
}

.blockquote-footer {
  color: white;
  margin-left: 30px;
  font-family: "KOTRAHOPE";
}

.last_hello {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.neon_box {
  background-color: transparent;
  box-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 30px #0fa,
    0 0 4px #0fa, 0 0 40px #0fa, 0 0 50px #0fa, 0 0 60px #0fa;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 75px;
  border: 3px solid white;
}

.last_text {
  font-size: 80px;
  color: #fff;
  text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff,
    /* Green glow */ 0 0 42px #0fa, 0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa,
    0 0 151px #0fa;
  font-family: "Nanum Pen Script", cursive;
  font-family: "Poor Story", cursive;
  animation: flicker 1.5s infinite alternate;
}

@keyframes flicker {
  20%,
  40%,
  20%,
  82%,
  20% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }

  20%,
  24%,
  100% {
    text-shadow: 0 0 11px #fff, 0 0 19px #fff;
  }
}

.connect {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.1),
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 1)
    ),
    url("../static/3.webp");
}

/*  개인소개 페이지 시작 */
.members {
  width: 100%;
}

.member {
  padding: 2.2rem;
  outline: 5px solid #f1c40f;
  max-width: 70%;
  margin: 0 2rem 3rem 2rem;
  display: flex;
  border-radius: 30px;
  align-items: center;
  box-shadow: 5px 5px 5px 5px gray;
  transition: 1s;
  background-color: rgba(255, 247, 215, 0.8);
}

.member:hover {
  transform: scale(1.1);
}

.left {
  margin: 4rem 0 0 6rem;
  float: left;
  box-sizing: border-box;
}

.right {
  margin: 4rem 4rem 0 0;
  float: right;
  box-sizing: border-box;
}

.member_img {
  background-color: #f1c40f;
  border-radius: 100px;
  padding: 18px;
}
.member_img_left {
  margin-right: 3rem;
}

.member_img_right {
  margin-left: 3rem;
}

.member_img img {
  width: 12rem;
}

.memeber_name {
  font-family: "KOTRAHOPE", serif;
  font-weight: 600;
  font-size: 28px;
}

.member_information {
  font-family: "Hahmlet", serif;
  font-weight: 200;
  font-size: 15px;
}

@media (max-width: 950px) {
  .member {
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .right {
    display: flex;
    flex-direction: column-reverse;
  }

  .member_img img {
    width: 8rem;
  }

  .member_img {
    border-radius: 100px;
    padding: 18px;
  }

  .member_description {
    text-align: center;
  }

  .member_img_left {
    margin-right: 0rem;
  }

  .member_img_right {
    margin-left: 0rem;
  }
}

/*  개인소개 페이지 끝 */
