@font-face {
    font-family: "KOTRAHOPE";
    src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRAHOPE.woff2")
    format("woff2");
    font-weight: normal;
    font-style: normal;
    }

@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@200;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

input::placeholder{
    color: white;
}

input:focus{
    outline: 2px solid white;
    color: white;
    transition: 0.6s;
}

.warp{
    width: 100%;
    height: 300px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)), url('/static/3.webp');
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
}

.form-control1{
    width: 100px;
    height: 34px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-family: "KOTRAHOPE";
}

.form-control2{
    width: 500px;
    height: 34px;
    margin-right: 5px;
    border-radius: 8px;
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    color: white;
    font-family: "KOTRAHOPE";
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    width: 55px;
    border: 1px solid white;
    border-radius: 8px;
    color: white;
    font-family: "KOTRAHOPE";
}

.button:hover{
    box-shadow:  /* White glow */ 0 0 7px #fff, 0 0 10px rgb(255, 255, 255), 0 0 21px #fff, 
    /* Green glow */ 0 0 3px rgb(255, 255, 255), 0 0 5px rgb(255, 255, 255), 0 0 8px rgb(255, 255, 255), 0 0 10px rgb(255, 255, 255), 0 0 15px rgb(255, 255, 255);
    transition: 0.8s;
}


.mycards{
    margin-top: 5px;
    width: 670px;
    height: 150px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 10px;
}

.text1{
    color:white;
    margin-top: 5px;
    margin-left: 10px;
    font-family: "KOTRAHOPE";
}

.blockquote-footer{
    color:white;
    margin-left: 10px;
    font-family: "KOTRAHOPE";
}


/*  개인소개 페이지 시작 */
.members{
  padding: 4rem
}

.member {
  padding: 2.2rem;
  outline: 2px solid #F1C40F;
  max-width: 70%;
  margin: 0 2rem 3rem 2rem;
  display: flex;
  border-radius: 30px;
  align-items: center;
  box-shadow: 5px 5px 5px 5px gray;
  transition: 1s;
}

.member:hover {
  transform: scale(1.1);
}

.left {
  float: left;
  box-sizing: border-box;
}

.right {
  float: right;
  box-sizing: border-box;
}

.member_img {
  background-color: #F1C40F;
  border-radius: 100px;
  padding: 18px
}
.member_img_left {
  margin-right: 3rem;
  
}

.member_img_right {
  margin-left: 3rem;
}

.member_img img{
  width: 8rem
}

.memeber_name {
  font-family: 'KOTRAHOPE', serif;
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 1rem;
}

.member_information {
  font-family: 'Hahmlet', serif;
  font-weight: 200;
  font-size: 15px;
}

@media (max-width: 950px) {
  .member {
    margin: 2rem;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .right {
    display:flex;
    flex-direction: column-reverse;
  }

  .member_img img{
    width: 8rem

  }

  .member_img {
    border-radius: 100px;
    padding: 18px
  }

  .member_description {
    padding-top: 1.2rem;
    text-align: center;
  }
  
  .member_img_left {
    margin-right: 0rem;
    
  }
  
  .member_img_right {
    margin-left: 0rem;
  }
}


/*  개인소개 페이지 끝 */