<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/gon/gon.css">
  <title>소개</title>
  <script src="https://kit.fontawesome.com/96c0010bf4.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fa-solid fa-chevron-right" id="btn"></i>
    <i class="fa-solid fa-x" id="cancel"></i>
  </label>
  <div class="sidebar">
    <header>Menu</header>
    <ul>
      <li><a href="sogae.html"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a href="advance.html"><i class="fa-solid fa-thumbs-up"></i>Advantages</a></li>
      <li><a href="style.html"><i class="fa-sharp fa-solid fa-people-group"></i>Collab Style</a></li>
      <li><a href="http://banghwa.shop/"><i class="fa-solid fa-arrow-left"></i>Back</a></li>
    </ul>
  </div>
  <div class="advance">
    <nav>
      <li class="a1">카멜레온과 같은<br>적응력</li>
      <li class="a2">융통성이 있다</li>
      <li class="a3">무언가를 배울때<br>습득이 빠른편</li>
      <li class="a4">낙천적이다</li>
      <li class="a5">호기심이 많다</li>
    </nav>
  </div>
</body>
</html>
