<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        background: #01a24b;
        font-size: 24px;
        color: #fff;
      }
      .button {
        display: flex;
        justify-content: flex-end;
        height: 10px;
      }

      button {
        background-color: rgba(187, 220, 88, 0);
        color: white;
        font-size: 30px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div>
      <div class="button">
        <button onclick="win_close()">&times;</button>
      </div>
      <p>
        저의 장점은 긍정적입니다. 좋은 생각을 하려고 <br />
        하고, 일을 할 때도 하기 싫다라는 마인드보다 <br />
        같이 파이팅하려고 노력합니다. <br />
        그리고 남들의 말에 잘 귀기울여 줍니다.<br />
        코딩은 일을 하면서 협업을 많이하게 되는데 <br />
        서로 소통해가며 일을 할 때 남들의 말을 <br />
        잘 들어주는 것이 별거 아닌 것 같지만<br />
        에러를 줄이는 것에 도움이 된다고 생각합니다.
      </p>
    </div>
  </body>
  <script src="../static/jaechang/profile.js"></script>
</html>