<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
      body {
        background: #bbdc58;
        font-size: 24px;
        color: #fff;
      }
      .button {
        display: flex;
        justify-content: flex-end;
        height: 10px;
      }

      button {
        background-color: rgba(187, 220, 88, 0);
        color: white;
        font-size: 30px;
        border: none;
        cursor: pointer;
      }
    </style>
  </head>

  <body>
    <div>
      <div class="button">
        <button onclick="win_close()">&times;</button>
      </div>
      <p>
        이름 : 한재창 <br />생년월일 : 1995. 04. 12 <br />MBTI : ISFP
        <br />특징1 : 코딩을 시작한지 얼마 되지 않은 비전공자 <br />
        특징2 : 고향은 강원도지만 현재 서울 거주 중 <br />특징3 : Mbti는
        isfp인데 극isfp는 아니고 e/i가 반반이라 나가 노는 것도 좋아함
      </p>
    </div>
  </body>
  <script src="../static/jaechang/profile.js"></script>
</html>
