<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
    <!-- 꼭읽어주세요! -->
    <!-- -- 개인페이지는 개인이름 영문의 폴더를 만들어서 html, css 등의 파일을 저장해주시고 마지막에
        링크를걸어서 경로만 지정하여 페이지에 출력될수있게 만들어보는건어떨까요? -->
    <!-- --css파일은 static 안에있는 main.css입니다 타섹션과 class 겹치지않게 사용해주세요!
    --js 파일도 static 안에 main.js 입니다 긁어오셔서 사용할때는 링크는
        해드부분에 달아주시면되고 이런걸 사용하고싶다 조율후 사용하시면될거같습니다 -->
<body>

    <!-- 첫메인페이지 -->
    <section>

    </section>
    <!-- 팀목표 약속페이지-->
    <section>

    </section>
    <!-- 개인소개페이지 -->
    <section>

    </section>
    <!-- 응원댓글 페이지 -->
    <section>

    </section>
    <!-- 개인블로그 페이지 -->
    <footer>

    </footer>
    <script src="main.js"></script>
</body>
</html>