<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/gon/gon.css">
  <title>소개</title>
  <script src="https://kit.fontawesome.com/96c0010bf4.js" crossorigin="anonymous"></script>
</head>
<body>
  <input type="checkbox" id="check">
  <label for="check">
    <i class="fa-solid fa-x" id="cancel"></i>
    <i class="fa-solid fa-chevron-right" id="btn"></i>
  </label>
  <div class="sidebar">
    <header>Menu</header>
    <ul>
      <li><a href="sogae.html"><i class="fa-solid fa-house"></i>Home</a></li>
      <li><a href="advance.html"><i class="fa-solid fa-thumbs-up"></i>Advantages</a></li>
      <li><a href="style.html"><i class="fa-sharp fa-solid fa-people-group"></i>Collab Style</a></li>
      <li><a href="http://banghwa.shop/"><i class="fa-solid fa-arrow-left"></i>Back</a></li>
    </ul>
  </div>
  <div class="info">
    <img src="../static/panda.png">
    <p>이름:한상권<br>
      나이:24(만 23세)<br>
      MBTi:ENTP<br>
      취미:스포츠관람,음악감상
    </p>
  </div>
</body>
</html>
